@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #222;
}
header {
    border-bottom: 7px solid #eee;
    height: 35vh;
    padding-top: 200px;
    position: relative;
}
.between {
    position: absolute;
    top: 10px;
    right: 10px;
}
main {
    height: 65vh;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.btn {
    padding: 10px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
.again {
    position: absolute;
    top: 10px;
    left: 10px;
}
.title-number {
    position: absolute;
    bottom: -50px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number {
    color: #222;
    background-color: #eee;
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
}
header h1 {
    width: 100%;
   text-align: center;
   font-size: 20px;
   bottom: 100px;
}
.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.left input {
    padding: 10px;
    border: 2px solid rgb(174, 174, 209);
}
.right p{
    font-weight: bold;
    margin: 10px 0;
    font-size: 20px;
}