body {
    font-family: sans-serif;
    line-height: 1.4
}
* {
    box-sizing: border-box;
}

.product {
    border: 4px solid black;
    position: relative;
}

.product-title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    background-color: #f7f7f7;
}

.price {
    font-size: 24px;
    float: left;
}
.sale {
    font-size: 20px;
    background-color: cyan;
    color: #ffffff;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block;
    top: 45px;
    left: 168px;

}
.shipping {
    font-size: 12px;
    margin-top: 30px;
    float: right;
    text-transform: uppercase;
    font-weight: bold;
    color: #777
}

.more-link:link,
.more-link:visited {
    color: black;
}

.more-link:active,
.more-link:hover {
    text-decoration: none;
}

.details-title {
    text-transform: uppercase;
    font-size: 16px;
}

.details-list {
    list-style: square;
}

.add-cart {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 32px;
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.add-cart:hover {
    border: 2px solid black;
    color: black;
    background-color: white;
}
.color {
    background-color: #000;
    height: 22px;
    width: 22px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}
.color-blue {
    background-color: blue;
}
.color-red {
    background-color: red;
}
.color-yellow {
    background-color: yellow;
}
.color-green {
    background-color: green;
}
.color-brown {
    background-color: brown;
}

.product-img {
    float: left;
    margin-right: 20px;
}
.product-detail {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.product-info {
    width: 40%;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}
.clearfix::after {
    clear: both;
    content: "";
    display: block;
}
.product-description {
    clear: both;
    margin-bottom: 10px;
}
