@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none !important;
}

svg {
  display: inline;
  border-bottom: 4px;
}

button:focus {
  outline: none;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.items:hover,
.items:active {
  color: #ee6238;
  border-bottom: 4px solid #ee6238;
}

.items:hover a {
  color: #ee6238;
}

#header-container {
  transform: translateY(0);
  transition: transform 300ms linear;
}

#header-container.is-hidden {
  transform: translateY(-100%);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -70%;
  width: 70%;
  height: 100vh;
  background-color: white;
  box-shadow: 1.2rem 1rem 3rem rgba(0, 0, 0, 0.03);
  z-index: 15;
  transition: transform 0.3s linear;
}

#menu-mobile.active {
  transform: translateX(100%);
}

.clone-menu__box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(235, 230, 230, 0.6);
  z-index: 5;
  display: none;
}

/* banner */
.banner-container {
  background-image: url("../img/landingpage/banner-home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-banner-container {
  background-image: url("../img/landingpage/about-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service-banner-container {
  background-image: url("../img/landingpage/service-banner.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* about */

/* css slick */
.slick-dots li button:before {
  width: 15px;
  height: 15px;
  background: #DDE0E4;
  border-radius: 100%;
  font-size: 0px;
}

.slick-dots li button:before:hover {
  background: #EE6238;
}

.slick-dots li.slick-active button:before {
  background: #EE6238;
}

@media screen and (min-width: 640px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1016px) {

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(#ff7b01, #0c6fd8);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#ff7b01, #0c6fd8);
  }

  .about-box1::after,
  .about-box2::after {
    position: absolute;
    content: '';
    background-image: url('../img/landingpage/eclips.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 104px;
    height: 12px;
    top: 50%;
    right: -104px;

  }
}

/* Slider */
/* Slider */
.slick-next.slick-arrow, .slick-prev.slick-arrow {
  display: none !important;
}


/* phone ringing */
.coccoc-alo-ph-circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: .1;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.coccoc-alo-phone {
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  -moz-transition: visibility .5s;
  -o-transition: visibility .5s;
  transition: visibility .5s;
  right: 150px;
  top: 30px;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
  background-color: rgba(0, 175, 242, 0.5);
  opacity: .75 !important;
}

.coccoc-alo-ph-circle-fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .1;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.coccoc-alo-ph-img-circle {
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  background: rgba(30, 30, 30, 0.1) url(https://drive.google.com/uc?id=1V3N2b79QjDWetC_ss9wI3c-xpWDymn9R) no-repeat center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .7;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
  background-color: #00aff2;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
  border-color: #00aff2;
  opacity: .5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
  border-color: #EE6239;
  opacity: .5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
  background-color: rgba(235, 98, 7, 0.267);
  opacity: .75 !important;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
  background-color: #EE6239;
}

@-moz-keyframes coccoc-alo-circle-anim {
  0% {
      transform: rotate(0) scale(.5) skew(1deg);
      opacity: .1
  }
  30% {
      transform: rotate(0) scale(.7) skew(1deg);
      opacity: .5
  }
  100% {
      transform: rotate(0) scale(1) skew(1deg);
      opacity: .1
  }
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
      transform: rotate(0) scale(.5) skew(1deg);
      opacity: .1
  }
  30% {
      transform: rotate(0) scale(.7) skew(1deg);
      opacity: .5
  }
  100% {
      transform: rotate(0) scale(1) skew(1deg);
      opacity: .1
  }
}

@-o-keyframes coccoc-alo-circle-anim {
  0% {
      transform: rotate(0) scale(.5) skew(1deg);
      opacity: .1
  }
  30% {
      transform: rotate(0) scale(.7) skew(1deg);
      opacity: .5
  }
  100% {
      transform: rotate(0) scale(1) skew(1deg);
      opacity: .1
  }
}

@keyframes coccoc-alo-circle-anim {
  0% {
      transform: rotate(0) scale(.5) skew(1deg);
      opacity: .1
  }
  30% {
      transform: rotate(0) scale(.7) skew(1deg);
      opacity: .5
  }
  100% {
      transform: rotate(0) scale(1) skew(1deg);
      opacity: .1
  }
}

@-moz-keyframes coccoc-alo-circle-fill-anim {
  0% {
      transform: rotate(0) scale(.7) skew(1deg);
      opacity: .2
  }
  50% {
      transform: rotate(0) scale(1) skew(1deg);
      opacity: .2
  }
  100% {
      transform: rotate(0) scale(.7) skew(1deg);
      opacity: .2
  }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
      transform: rotate(0) scale(.7) skew(1deg);
      opacity: .2
  }
  50% {
      transform: rotate(0) scale(1) skew(1deg);
      opacity: .2
  }
  100% {
      transform: rotate(0) scale(.7) skew(1deg);
      opacity: .2
  }
}

@-o-keyframes coccoc-alo-circle-fill-anim {
  0% {
      transform: rotate(0) scale(.7) skew(1deg);
      opacity: .2
  }
  50% {
      transform: rotate(0) scale(1) skew(1deg);
      opacity: .2
  }
  100% {
      transform: rotate(0) scale(.7) skew(1deg);
      opacity: .2
  }
}

@keyframes coccoc-alo-circle-fill-anim {
  0% {
      transform: rotate(0) scale(.7) skew(1deg);
      opacity: .2
  }
  50% {
      transform: rotate(0) scale(1) skew(1deg);
      opacity: .2
  }
  100% {
      transform: rotate(0) scale(.7) skew(1deg);
      opacity: .2
  }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
  0% {
      transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
      transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
      transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
      transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
      transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
      transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
      transform: rotate(0) scale(1) skew(1deg)
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
      transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
      transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
      transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
      transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
      transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
      transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
      transform: rotate(0) scale(1) skew(1deg)
  }
}

@-o-keyframes coccoc-alo-circle-img-anim {
  0% {
      transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
      transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
      transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
      transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
      transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
      transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
      transform: rotate(0) scale(1) skew(1deg)
  }
}

@keyframes coccoc-alo-circle-img-anim {
  0% {
      transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
      transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
      transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
      transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
      transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
      transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
      transform: rotate(0) scale(1) skew(1deg)
  }
}